
/* Windows Phone IE Hack*/

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }


/*
 * Style tweaks
 * --------------------------------------------------
 */

html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
  background: black;
}
footer {
  padding: 30px 0;
}

.indexBKGD{
  /*border: 1px solid white;*/
	background:url(../images/bkgd/bkgd_v2_index.gif);
	background-repeat: no-repeat;
	background-color: black;
  height: 80vh;
  margin-bottom: -40px;
	}

.mainBKGD{
  border: 1px solid white;
	background:url(../images/bkgd/bkgd_v2_index.gif);
	background-repeat: no-repeat;
	background-color: black;
	}

.artistBKGD{
  border: 1px solid white;
	background:url(../images/bkgd/bkgd_v2_artist.jpg);
	background-repeat: no-repeat;
	background-color: black;
	}

.socialBKGD{
  border: 1px solid white;
	background:url(../images/bkgd/bkgd_v2_social.jpg);
	background-repeat: no-repeat;
	background-color: black;
	}

.programmingBKGD{
  border: 1px solid white;
  background:url(../images/bkgd/bkgd_v2_programmer.jpg);
  background-repeat: no-repeat;
  background-color: black;
  }

.scienceBKGD{
  border: 1px solid white;
	background:url(../images/bkgd/bkgd_v2_science.jpg);
	background-repeat: no-repeat;
	background-color: black;
	}

.engineeringBKGD{
  border: 1px solid white;
	background:url(../images/bkgd/bkgd_v2_engineer.jpg);
	background-repeat: no-repeat;
	background-color: black;
	}

#content{
  z-index:  0;
	}

.container {
	font-family: 'Lato', sans-serif;
	}

h1{
	font-family: 'Lato', sans-serif;
  font-size: 24px;
	}

h2{
	font-family: 'Lato', sans-serif;
	color: white;
	}

h4{
	font-family: 'Lato', sans-serif;
	color: white;
	background-color: #323232;
  font-size: 16px;
  font-weight: 900;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border: 1px solid #AAA;
  border-radius: 5px;
	}

pre {
  font-weight: 900;
  color: #CCC;
  background: #121212;
  border: #222;
}

p{
	font-family: 'Lato', sans-serif;
	color: white;
	}


/*
 * Documentation Styles
 */


 .mainContent {
   width: 70%;
 }

 .displayZone {
   margin-bottom: 100px;
   margin-top: 100px;
 }

 .sidebar {
   width: 30%;
   height: 100vh;
   overflow-y: scroll;
   position: fixed;
   top: 0;
   right: 0;
   background-color: #151515;
   border-left: 1px solid #CCC;
   padding: 15px;
 }

 .header {
   height: 52px;
   width: 70%;
   background-color: #151515;
   border-bottom: 1px solid #CCC;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 100;
 }

 .footer {
   height: 40px;
   width: 70%;
   background-color: #151515;
   border-top: 1px solid #CCC;
   position: fixed;
   bottom: 0;
   left: 0;
   z-index: 100;
 }

 .breadcrumb {
   padding: 0px;
   margin-bottom: 0px;
   padding-top: 5px;
   margin-left: 10px;
   border: none;
   background: none;
 }

 .nav-group {
   margin-top: 10px;
 }

 .btn-nav {
   margin-left: 10px;
   margin-right: 10px;
   width: 100px;
 }

 .nav-item:hover, .nav-item.active {
   width: 200px;
 }

 .nav-item {
   width: 40px;
   -webkit-transition: width .5s; /* Safari */
   transition: width .5s;
 }

 .nav-item a span {
   font-weight: 900;
   opacity: 0;
   -webkit-transition: opacity .5s ease-in;
      -moz-transition: opacity .5s ease-in;
       -ms-transition: opacity .5s ease-in;
        -o-transition: opacity .5s ease-in;
           transition: opacity .5s ease-in;
 }

 .nav-item a span.load {
   font-weight: 900;
    opacity: 1;

 }
