<div class="">
  <div class="row jumbotron indexBKGD" style="height: 80vh">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="row">
           <div class="col-12 col-sm-12 col-lg-12" style="text-align: center;">
             <div class="panel panel-default">
               <div class="panel-body">
                 <h2 style="text-align: center;"><strong>4</strong></h2>
               </div>
             </div>
           </div>
        </div>
    </div><!--/span-->
  </div><!--/row-->
</div><!--/container-->
