<div class="">
  <div class="row jumbotron indexBKGD" style="height: 80vh">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="row">
           <div class="col-12 col-sm-12 col-lg-12" style="text-align: center;">
             <div class="panel panel-default textPanel">
               <div class="panel-body">
                 <h2 style="text-align: center;"><strong>Documentation</strong></h2>
                 <h6 style="text-align: center;"><i>Projects' Notes from Nathaniel Buechler</i></h6>
                 <hr></hr>
                 <h6 class="well" style="text-align: center;">
                   <i>Why are you documenting your projects, Nate?</i><br></br>
                   The idea is to keep track of the motivation for a project, its API's, and other useful information for the many software projects I've created.
                 </h6>
                 <h6 style="text-align: center;">
                   Maybe one day, someone else will want to use some of my code, and I want to make it easier for them.
                   Also, I want to make it easier for myself to use as a reference in the distant future.
                 </h6>
               </div>
             </div>
           </div>
        </div>
    </div><!--/span-->
  </div><!--/row-->
</div><!--/container-->
