<div class="">
  <div class="row indexBKGD" style="height: 80vh">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="row">
           <div class="col-12 col-sm-12 col-lg-12" style="text-align: center;">
             <div class="panel panel-default textPanel">
               <div class="panel-body">
                 <h2 style="text-align: center;"><strong>Documentation</strong></h2>
                 <h6 style="text-align: center;"><i>Project Notes from Nathaniel Buechler</i></h6>
                 <hr></hr>
                 <h6 style="text-align: center;">
                   Over 25 repositories are show, but some of the projects more documented due to their importance and complexity. My hope is that this documentation makes it easier for you to understand the projects that I have created.
                 </h6>
               </div>
             </div>
           </div>
        </div>
    </div><!--/span-->
  </div><!--/row-->
</div><!--/container-->
