<div class="header">

  <div ng-controller="navController">
    <div class="nav-group">
      <ol class="breadcrumb pull-left">
        <li><a ui-sref="{{(navRoot).split('.').join('-')}}-0">{{navRoot}}</a></li>
        <li class="active">Introduction</li>
      </ol>
        <div class="btn-nav btn btn-sm btn-info pull-right"
             ui-sref="{{(navRoot).split('.').join('-')}}-2">
             Next
        </div>
        <div class="btn-nav btn btn-sm btn-info pull-right"
             ui-sref="{{(navRoot).split('.').join('-')}}-0">
             Previous
        </div>
    </div>
  </div>
  <div class="glowBar">
  </div>

</div>

<div class="indexBKGD">
  <div class="displayZone">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="col-sm-12 col-md-12 col-lg-8 col-lg-offset-2" style="text-align: center;">
          <div class="panel panel-default titlePanel">
           <div class="panel-body">
             <h3 style="text-align: center;"><strong id="title">Introduction</strong></h3>
             <p id="description">THE TL;DR</p>
           </div>
          </div>
        </div>
      </div><!--/span-->
    </div><!--/row-->

    <div class="row">

      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="panel panel-default textPanel">
          <div class="panel-body">

            <div ng-controller="introductionController">
              <div ng-repeat="heading in headings">
                <paragraph-container-directive heading="{{heading}}"></paragraph-container-directive>
              </div>
            </div>

            <div ng-if="headings.length < 1">
              <h1>Make sure to read the README, and browse the code.</h1>
              <p>
              First, try to get the code running first.<br>
              Then, see what you can 'break' repeatedly.<br>
              Make sure you know the programming language and paradigm.<br>
              Finally, try adding something to the code.<br>
              You might even surprise yourself.
              </p>
            </div>

            <div ng-if="headings.length > 1">
              <h1>Now, read the README.</h1>
              <p>
              First, try to get the code running first.<br>
              Then, see what you can 'break' repeatedly.<br>
              Make sure you know the programming language and paradigm.<br>
              Finally, try adding something to the code.<br>
              You might even surprise yourself.
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div><!--/row-->

</div><!--/container-->

<div class="footer">

  <div ng-controller="navController">
    <ul class="nav nav-pills pull-right">
      <li ng-show="{{navToggles.zero}}" class="nav-item"><a ui-sref="{{(navRoot).split('.').join('-')}}-0">0 <span class="pull-right">Read Me<span></a></li>
      <li ng-show="{{navToggles.one}}" class="nav-item active"><a ui-sref="{{(navRoot).split('.').join('-')}}-1">1 <span class="pull-right load">Introduction<span></a></li>
      <li ng-show="{{navToggles.two}}" class="nav-item"><a ui-sref="{{(navRoot).split('.').join('-')}}-2">2 <span class="pull-right">Basics<span></a></li>
      <li ng-show="{{navToggles.three}}" class="nav-item"><a ui-sref="{{(navRoot).split('.').join('-')}}-3">3 <span class="pull-right">Advanced<span></a></li>
    </ul>
  </div>

</div>
