<!--

TODO: Add a way to make all of this a single page (modular) that is filled with
different data from each of the sections.

TODO: Remove AJAX and use Angular HTTP Service

 -->

<div class="indexBKGD" style="height: 80vh; margin-bottom: -40px;">
  <div style="margin-bottom: 100px;">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="col-sm-12 col-md-12 col-lg-8 col-lg-offset-2" style="text-align: center;">
          <div class="panel panel-default">
           <div class="panel-body">
             <h3 style="text-align: center;"><strong id="title">TITLE GOES HERE</strong></h3>
             <p id="description">README</p>
           </div>
          </div>
        </div>
      </div><!--/span-->
    </div><!--/row-->

    <div class="row">

      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="panel panel-default">
          <div class="panel-body">

            <div id="preview"></div>

          </div>
        </div>
      </div>
    </div>
  </div><!--/row-->

</div><!--/container-->

<div class="footer">

  <ul class="nav nav-pills">
    <li class="nav-item active"><a href="">0</a></li>
    <li class="nav-item"><a href="">1</a></li>
    <li class="nav-item"><a href="">2</a></li>
    <li class="nav-item"><a href="">3</a></li>
    <li class="nav-item"><a href="">4</a></li>
  </ul>

</div>

<script>


</script>
