<div class="">
  <div class="row jumbotron indexBKGD" style="height: 80vh">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div class="row">
           <div class="col-sm-12 col-md-12 col-lg-8 col-lg-offset-2" style="text-align: center;">
             <div class="panel panel-default">
               <div class="panel-body">
                 <h3 style="text-align: center;"><strong></strong></h3>
                 <p></p>
               </div>
             </div>
           </div>
        </div>
    </div><!--/span-->
  </div><!--/row-->
</div><!--/container-->

<div class="footer">

</div>
